:root {
    --primary-color: #055a05;
    --secondary-color: #c1d1f0;
    --accent1-color: #264653;
    --accent2-color: #6d6b66;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--accent2-color);
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--accent1-color);
}

header main {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h1 {
    flex: 1;
    text-align: center;
    font-size: 25px;
    margin: 0 0 10px;
    --secondary-color: #6e6a67;
}

.hero {
    position: relative;
}

.box {
    text-align: center;
    color: black;
}

strong {
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav a {
    text-decoration: none;
}

.navigation li {
    flex: 1 1 auto;
}

header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    border-bottom: 1px solid #615b5b;
    align-items: center;
    padding: 15px 30px;
    max-width: 1200px;
    background-color: var(--secondary-color);
}

header img {
    justify-self: center;
}

h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8c6f7;
    border: 1px solid black;
    padding: 15px 30px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

form {
    text-align: center;
}

input[type="radio"] {
    margin-right: 8px;
}

.newsletter {
    margin-top: 20px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 35px;
    height: 35px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    align-items: start;
}

.map {
    width: 100%;
    height: 247px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.employee-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.employee img {
    width: 200px;
    height: 200px;

}

iframe {
    float: left;
    width: 600px;
    height: 450px;
    justify-items: center;
}

.contact-form button {
    width: 120px;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}