.callout {
    background-color: brown;
}

.callout img {
    float: right;
    margin: 10px;
    border: 10px;
    padding: 5px;
    background-color: antiquewhite;
    width: 200;
    height: 200px;
}

blockquote {
    margin: 10px;
}

cite {
    border-top: 10px;
    display: block;
    font-size: medium;
    color: black;
}