*wildcard {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 250px;
}

aside {
    width: 100px;
    margin: 1em;
    border: 1px;
    padding: 3px;
    background-color: bisque;
    color: brown;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 1px;
    box-shadow: inset;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: 1rem;
    text-align: center;
}

nav {
    background-color: rgb(192, 193, 193);
    padding: 0;
    color: antiquewhite;
    display: block;
}

nav a {
    color: rgb(39, 27, 148);
    padding: 1px;
    display: block;
}

h1 {
    color: black;
}

/*Class selectors*/
.box {
    margin: 1rem;
    border: 1px solid;
    padding: 1rem;
    background-color: aliceblue;
    color: black;
}

h2 {
    position: absolute;
}